body {
  margin: 0;
  font-family: -apple-system, BlogoutMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logout {
  display: inline-block;
  font-weight: bolder;
  color:#212529;
}

#logout:hover {
  display: inline-block;
  text-decoration: none;
  color:#212529;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover{
  background-color: aliceblue;
  color: #212529;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
